span._cyan {
    color: rgb(129, 200, 190);
}

span._gold {
    color: rgb(229, 200, 144);
    font-family: 'Fira Code', monospace;
}

a.tlink {
    color: rgb(242, 213, 207);
}

span.b1 {
    font-weight: bold;
}

span._green {
    color: rgb(166, 209, 137);
}

span.clickbox {
    cursor: pointer;
    color: rgb(35, 38, 52);
    background-color: rgb(186, 187, 241);
}

div #Terminal {
    white-space: nowrap;
    margin: 10px;
    height: 95%;
    max-height: 100%;
    background-color:rgba(48, 52, 70, .8);
    border-radius: 12px;
    overflow: auto;
    z-index: 1;
    border-color: rgb(186, 187, 241);
    border-style: solid;
}

.terminal {
    margin: 10px;
}


.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

