@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;

    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

pre {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.main_window {
    position: absolute;
    height: 90%;
    min-width: 300px;
    max-width: 800px;
    background-color: rgba(var(--Crust), 0.6);
    overflow: auto;
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.493);
}

.toProjectButton {
    position: absolute;
    left: calc(50% - 40px);
    top: 10px;
    background: linear-gradient(120deg, #4fe49c, #45abd6, #4fe49c);
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: hueRotate 2s linear infinite;
    animation: moveX 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    display:flex;
}

span._gold {
    color: rgb(229, 200, 144);
    font-family: 'Fira Code', monospace;
}

span.b1 {
    font-weight: bold;
}

div.quickcmd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: 15px; 
    opacity: 0.5;
}

span.clickbox {
    cursor: pointer;
}

div #Terminal {
    z-index: 20;
    white-space: nowrap;
    margin: 10px;
    height: 95%;
    max-height: 100%;
    overflow: auto;
    width: 50%;
}

.terminal {
    margin: 10px;
}

.pre {
    font-family: 'Fira Code', monospace;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hueRotate {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 200%;
    }
}