.navbar-mainbg {
    background-color: black;
    border-bottom: 3px solid rgb(245, 169, 127);
    padding: 0px;
}

img#OSbutton {
    width: 35px;
    display: block;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    animation: logoSpin 10s linear infinite;
}

@keyframes logoSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li.nav-widget {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: right;
}

#navbarSupportedContent ul li a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    padding: 12px 20px;
}

#navbarSupportedContent>ul>li.active>a {
    /*
    color: #5161ce;
    background-color: transparent;
    */
    transition: all 0.7s;
    background: linear-gradient(120deg, #4fe49c, #45abd6, #4fe49c);
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: hueRotate 1s linear infinite;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 9px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(36, 39, 58);
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@keyframes hueRotate {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 200%;
    }
}

button.navbar-toggler, button.main-switcher {
    margin: 6px;
    width: 30px;
    height: 30px;
    background-color: rgb(var(--Base));
    color: rgb(var(--Text));
    display: none;
}

button.navbar-toggler i {
    margin-left: 8px;
    animation: arrow-pointing 1s ease-in-out infinite;
}

@keyframes arrow-pointing {
   0% {
        transform: translateY(-3px);
   } 

   50% {
        transform: translateY(3px);
   }

    100% {
        transform: translateY(-3px);
   } 
}

#home-switcher i {
    animation: arrow-spin 1.5s ease-in-out infinite;
}

@keyframes arrow-spin {
   0% {
        transform: rotate(0deg) 
   } 

    100% {
        transform: rotate(360deg) 
   } 
}