div#project {
    width: 100%;
    height: 100%;
    display: none;
}

div#project>div.holder {
    width: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    gap: 10px;
}

div#project>div.holder>div {
    position: relative;
    height: 200px;
    width: calc((100% - 100px) / 4);
    min-width: 310px;
    background-color: rgba(var(--Surface0), 0.3);
    border: 3px solid rgba(var(--Lavender), 0.3);
    z-index: 0;
    transition: transform 0.3s linear;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
}

a.backButton {
    position: absolute;
    left: 20px;
    top: 90px;
    background: linear-gradient(120deg, #4fe49c, #45abd6, #4fe49c);
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: hueRotate 2s linear infinite;
    animation: moveX 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

div#project>div.holder>div>a.source {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 18px;
    padding: 5px;
    padding-right: 0px;
    opacity: 0.7;
    animation: link_jump 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

div#project>div.holder>div>div { 
    font-size: 15px;
}

div#project>div.holder>div>div.b1 { 
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

div#project>div.holder>div>img {  
    width: 100%;
}

@keyframes moveX {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes link_jump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}