.theme_Crust { background-color: rgb(var(--Crust)); }
.theme_Base { background-color:  rgb(var(--Base)); }
.theme_Mantle { background-color: rgb(var(--Mantle)); }

.theme_Surface2 { background-color: rgb(var(--Surface2));}	
.theme_Surface1	{ background-color: rgb(var(--Surface1)); }
.theme_Surface0 { background-color: rgb(var(--Surface0)); }

.theme_Overlay2	{ background-color: rgb(var(--Overlay2)); }
.theme_Overlay1	{ background-color: rgb(var(--Overlay1)); }
.theme_Overlay0	{ background-color: rgb(var(--Overlay0)); }

.theme_Rosewater { background-color: rgb(var(--Rosewater)); }
.theme_Flamingo { background-color: rgb(var(--Flamingo)); }
.theme_Pink { background-color: rgb(var(--Pink)); }
.theme_Mauve { background-color: rgb(var(--Mauve)); }
.theme_Red { background-color: rgb(var(--Red)); }
.theme_Maroon { background-color: rgb(var(--Maroon)); }
.theme_Peach { background-color: rgb(var(--Peach)); }
.theme_Yellow { background-color: rgb(var(--Yellow)); }
.theme_Green { background-color: rgb(var(--Green)); }
.theme_Teal { background-color: rgb(var(--Teal)); }
.theme_Sky { background-color: rgb(var(--Sky)); }
.theme_Sapphire { background-color: rgb(var(--Sapphire)); }
.theme_Blue { background-color: rgb(var(--Blue)); }
.theme_Lavender { background-color: rgb(var(--Lavender)); }

.theme_text_Rosewater { color: rgb(var(--Rosewater)); }
.theme_text_Flamingo { color: rgb(var(--Flamingo)); }
.theme_text_Pink { color: rgb(var(--Pink)); }
.theme_text_Mauve { color: rgb(var(--Mauve)); }
.theme_text_Red { color: rgb(var(--Red)); }
.theme_text_Maroon { color: rgb(var(--Maroon)); }
.theme_text_Peach { color: rgb(var(--Peach)); }
.theme_text_Yellow { color: rgb(var(--Yellow)); }
.theme_text_Green { color: rgb(var(--Green)); }
.theme_text_Teal { color: rgb(var(--Teal)); }
.theme_text_Sky { color: rgb(var(--Sky)); }
.theme_text_Sapphire { color: rgb(var(--Sapphire)); }
.theme_text_Blue { color: rgb(var(--Blue)); }
.theme_text_Lavender { color: rgb(var(--Lavender)); }

.theme_text_Brown1 { color: #df9318; }
.theme_text_Brown2 { color: 	#A76E12; }

.theme_text_Green1 { color : #6AE841 }
.theme_text_Green2 { color : #4FAE30 }

.theme_text_Dying1 { color : #cdc82a }
.theme_text_Dying2 { color : #99961F }
.theme_text_Dying3 { color : #d32b6b }

.theme_Text { color: rgb(var(--Text)); }
.theme_Subtext1 { color: rgb(var(--Subtext1)); }
.theme_Subtext0 { color: rgb(var(--Subtext0)); }

/* specific theme */
body {
    background: #1b2735;
    color: rgb(var(--Text));
}

a.tlink {
    color: rgb(var(--Rosewater));
}

/* scroll bar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--Base), 0.8);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--Peach), 1);
}

/* text highlight */
::-moz-selection {
  color: rgb(var(--Text));
  background: rgb(var(--Surface2));
}
::selection {
  color: rgb(var(--Text));
  background: rgb(var(--Surface2));
}

/* navbar */
#navbarSupportedContent>ul>li.active>a { 
    transition: all 0.7s;
    background: linear-gradient(120deg, #4fe49c, #45abd6, #4fe49c);
    background: linear-gradient(120deg, rgb(73, 77, 100), rgb(24, 25, 38), rgb(110, 115, 141));
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: hueRotate 1s linear infinite;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(var(--Crust));
}

.navbar-mainbg {
    background-color: rgba(var(--Crust)); /*crust*/
    border-bottom: 3px solid rgb(var(--Peach));
    padding: 0px;
}