div#vis {
    position: absolute; 
    display: inline-block;
    width: 344px;
    height: 97px;
    z-index: 0;
}

div#vis_play {
    position: absolute; 
    font-size: 15px;
    bottom: -2px;
    user-select: none;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
}

div#vis_text {
    position: absolute;
    bottom: -5px;
    left: 18px;
    width: 130px;
    height: 20px;
    overflow: hidden;
}

div#vis_text>div {
    font-size: 13px;
    white-space: nowrap;
    animation: moving_text 15s linear infinite;
    --length : 100%;
    --lengthx2 : 200%
}

@keyframes moving_text {
    0% {
        transform: translateX(var(--length));
    }
    
    100% {
        transform: translateX(-400%);
    }
}

section.visual {
    position: absolute;
    z-index: 0;
    height: 90%;
    min-width: 300px;
    max-width: 800px;
}


input#audioInput {
    display: none;
}

audio#audio {
    position: absolute;
    height: 30px;
    width: 30%;
    bottom: 5px;
}

#visualizer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.2;
}

button#getFile {
    position: absolute;
    border: none;
    right: 4px;
    bottom: 5px;
    cursor: pointer;
}

